<!DOCTYPE html>
<html>
  <head>
    <title>Gradebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <strong>Navigation: </strong>
    <div class="nav-link">
      <% if user_signed_in? %>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
            <a href="/">View Gradebook</a> -
            <a href="/users/sign_in">Sign In</a> -
      <% end %>
    </div>
    <% if flash[:error] %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
